
@{
    ViewBag.Title = "CountryAbroad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container">
    <div class="bg-body box-layout">
        <div class="section-space-bottom-less30">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="mb-20-r ne-isotope">
                        <div class="topic-border color-azure-radiance mb-30">
                            <div class="topic-box-lg color-azure-radiance">राजनीति</div>

                        </div>
                        <div class="featuredContainer">
                            <div class="row football">
                                <div class="col-md-4 col-sm-12">
                                    <div class="mb-30">
                                        <div class="img-scale-animate mb-20">
                                            <a href="single-news-1.html">
                                                <img src="~/Content/img/news/news234.jpg" alt="news" class="img-fluid width1-100">
                                            </a>
                                        </div>
                                        <p>
                                            <a href="#" style="color:black">
                                                मतदान निपटते ही अयोध्या धाम भगवान राम के दर्शन करने पहुंचे भाजपा प्रत्याशी :ओपी श्रीवास्तव
                                            </a>
                                        </p>
                                        <div class="post-date-dark">
                                            <ul>
                                                <li>
                                                    <a href="#" style="color:red">UjalaCityNews</a>
                                                </li>
                                                <li style="padding-left:70px">
                                                    <span>
                                                    </span>March 22, 2017
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="mb-30">
                                        <div class="img-scale-animate mb-20">
                                            <a href="single-news-1.html">
                                                <img src="~/Content/img/news/news238.jpg" alt="news" class="img-fluid width1-100">
                                            </a>
                                        </div>
                                        <p>
                                            मतदान निपटते ही अयोध्या धाम भगवान राम के दर्शन करने पहुंचे भाजपा प्रत्याशी :ओपी श्रीवास्तव
                                        </p>
                                        <div class="post-date-dark">
                                            <ul>
                                                <li>
                                                    <a href="single-news-1.html" style="color:red">UjalaCityNews</a>
                                                </li>
                                                <li style="padding-left:70px">
                                                    <span>
                                                    </span>March 22, 2017
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="mb-30">
                                        <div class="img-scale-animate mb-20">
                                            <a href="single-news-1.html">
                                                <img src="~/Content/img/news/news234.jpg" alt="news" class="img-fluid width1-100">
                                            </a>
                                        </div>
                                        <p>
                                            मतदान निपटते ही अयोध्या धाम भगवान राम के दर्शन करने पहुंचे भाजपा प्रत्याशी :ओपी श्रीवास्तव
                                        </p>
                                        <div class="post-date-dark">
                                            <ul>
                                                <li>
                                                    <a href="single-news-1.html" style="color:red">UjalaCityNews</a>
                                                </li>
                                                <li style="padding-left:70px">
                                                    <span>
                                                    </span>March 22, 2017
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="mb-30">
                                        <div class="img-scale-animate mb-20">
                                            <a href="single-news-1.html">
                                                <img src="~/Content/img/news/news238.jpg" alt="news" class="img-fluid width1-100">
                                            </a>
                                        </div>
                                        <p>
                                            मतदान निपटते ही अयोध्या धाम भगवान राम के दर्शन करने पहुंचे भाजपा प्रत्याशी :ओपी श्रीवास्तव
                                        </p>
                                        <div class="post-date-dark">
                                            <ul>
                                                <li>
                                                    <a href="single-news-1.html" style="color:red">UjalaCityNews</a>
                                                </li>
                                                <li style="padding-left:70px">
                                                    <span>
                                                    </span>March 22, 2017
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="mb-30">
                                        <div class="img-scale-animate mb-20">
                                            <a href="single-news-1.html">
                                                <img src="~/Content/img/news/news234.jpg" alt="news" class="img-fluid width1-100">
                                            </a>
                                        </div>
                                        <p>
                                            मतदान निपटते ही अयोध्या धाम भगवान राम के दर्शन करने पहुंचे भाजपा प्रत्याशी :ओपी श्रीवास्तव
                                        </p>
                                        <div class="post-date-dark">
                                            <ul>
                                                <li>
                                                    <a href="single-news-1.html" style="color:red">UjalaCityNews</a>
                                                </li>
                                                <li style="padding-left:70px">
                                                    <span>
                                                    </span>March 22, 2017
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="mb-30">
                                        <div class="img-scale-animate mb-20">
                                            <a href="single-news-1.html">
                                                <img src="~/Content/img/news/news238.jpg" alt="news" class="img-fluid width1-100">
                                            </a>
                                        </div>
                                        <p>
                                            मतदान निपटते ही अयोध्या धाम भगवान राम के दर्शन करने पहुंचे भाजपा प्रत्याशी :ओपी श्रीवास्तव
                                        </p>
                                        <div class="post-date-dark">
                                            <ul>
                                                <li>
                                                    <a href="single-news-1.html" style="color:red">UjalaCityNews</a>
                                                </li>
                                                <li style="padding-left:70px">
                                                    <span>
                                                    </span>March 22, 2017
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-30">
        <div class="col-sm-6 col-12">
            <div class="pagination-btn-wrapper text-center--xs mb15--xs">
                <ul>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <div class="pagination-result text-right pt-10 text-center--xs">
                <p class="mb-none">Page 1 of 4</p>
            </div>
        </div>
    </div>
</section>

