@{
    ViewBag.Title = "Home Page";
}

<!-- More Area Start Here -->
<section class="bg-body section-space-less30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="topic-border color-hollywood-cerise mb-30">
                    <div class="topic-box-lg color-hollywood-cerise">ताज़ा ख़बरें</div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="mb-25">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news109.jpg" alt="news" class="img-fluid width-100 mb-15">
                            </a>
                            <h3 class="title-medium-dark size-s" style="font-size:13px">
                                <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="mb-25">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news110.jpg" alt="news" class="img-fluid width-100 mb-15">
                            </a>
                            <h3 class="title-medium-dark size-lg" style="font-size:13px">
                                <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="mb-25">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news111.jpg" alt="news" class="img-fluid width-100 mb-15">
                            </a>
                            <h3 class="title-medium-dark size-lg" style="font-size:13px">
                                <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर.</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="mb-25">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news112.jpg" alt="news" class="img-fluid width-100 mb-15">
                            </a>
                            <h3 class="title-medium-dark size-lg" style="font-size:13px">
                                <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर.</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="mb-25">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news113.jpg" alt="news" class="img-fluid width-100 mb-15">
                            </a>
                            <h3 class="title-medium-dark size-lg" style="font-size:13px">
                                <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर.</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="mb-25">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news114.jpg" alt="news" class="img-fluid width-100 mb-15">
                            </a>
                            <h3 class="title-medium-dark size-lg" style="font-size:13px">
                                <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर.</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="mb-25">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news115.jpg" alt="news" class="img-fluid width-100 mb-15">
                            </a>
                            <h3 class="title-medium-dark size-lg" style="font-size:13px">
                                <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="mb-25">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news116.jpg" alt="news" class="img-fluid width-100 mb-15">
                            </a>
                            <h3 class="title-medium-dark size-lg" style="font-size:13px">
                                <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- More Area End Here -->
<section class="bg-body section-space-less30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="topic-border color-hollywood-cerise mb-30">
                    <div class="topic-box-lg color-hollywood-cerise">क्राइम</div>
                    <div class="more-info-link">
                        <a href="post-style-1.html">
                            सभी खबरें
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="mb-25">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news109.jpg" alt="news" class="img-fluid width-100 mb-15">
                            </a>
                            <h3 class="title-medium-dark size-s" style="font-size:13px">
                                <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="mb-25">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news110.jpg" alt="news" class="img-fluid width-100 mb-15">
                            </a>
                            <h3 class="title-medium-dark size-lg" style="font-size:13px">
                                <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="mb-25">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news111.jpg" alt="news" class="img-fluid width-100 mb-15">
                            </a>
                            <h3 class="title-medium-dark size-lg" style="font-size:13px">
                                <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर.</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="mb-25">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news112.jpg" alt="news" class="img-fluid width-100 mb-15">
                            </a>
                            <h3 class="title-medium-dark size-lg" style="font-size:13px">
                                <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर.</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="mb-25">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news113.jpg" alt="news" class="img-fluid width-100 mb-15">
                            </a>
                            <h3 class="title-medium-dark size-lg" style="font-size:13px">
                                <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर.</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="mb-25">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news114.jpg" alt="news" class="img-fluid width-100 mb-15">
                            </a>
                            <h3 class="title-medium-dark size-lg" style="font-size:13px">
                                <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर.</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="mb-25">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news115.jpg" alt="news" class="img-fluid width-100 mb-15">
                            </a>
                            <h3 class="title-medium-dark size-lg" style="font-size:13px">
                                <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="mb-25">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news116.jpg" alt="news" class="img-fluid width-100 mb-15">
                            </a>
                            <h3 class="title-medium-dark size-lg" style="font-size:13px">
                                <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest News Area Start Here -->
<section class="bg-body section-space-less30">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="topic-border color-cutty-sark mb-30 width-100">
                    <div class="topic-box-lg color-cutty-sark">लाइफस्टाइल</div>
                </div>
                <div class="media mba-30">
                    <a class="img-opacity-hover" href="single-news-3.html">
                        <img src="~/Content/img/news/news20.jpg" alt="news" class="img-fluid1">
                    </a>
                    <div class="media-body">
                        <h3 class="title-medium-dark size-md mb-none">
                            <a href="single-news-3.html">स्त्री वेल्फेयर संस्था द्वारा महिलाओं को किया गया कैंसर के प्रति जागरूक</a>
                        </h3>
                    </div>
                </div>
                <div class="media mba-30">
                    <a class="img-opacity-hover" href="single-news-2.html">
                        <img src="~/Content/img/news/news21.jpg" alt="news" class="img-fluid1">
                    </a>
                    <div class="media-body">
                        <h3 class="title-medium-dark size-md mb-none">
                            <a href="single-news-2.html">स्त्री वेल्फेयर संस्था द्वारा महिलाओं को किया गया कैंसर के प्रति जागरूक</a>
                        </h3>
                    </div>
                </div>
                <div class="media mba-30">
                    <a class="img-opacity-hover" href="single-news-1.html">
                        <img src="~/Content/img/news/news22.jpg" alt="news" class="img-fluid1">
                    </a>
                    <div class="media-body">
                        <h3 class="title-medium-dark size-md mb-none">
                            <a href="single-news-1.html">स्त्री वेल्फेयर संस्था द्वारा महिलाओं को किया गया कैंसर के प्रति जागरूक</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="topic-border color-pomegranate mb-30 width-100">
                    <div class="topic-box-lg color-pomegranate">टेक्नोलॉजी</div>
                </div>
                <div class="media mba-30">
                    <a class="img-opacity-hover" href="single-news-1.html">
                        <img src="~/Content/img/news/news24.jpg" alt="news" class="img-fluid1">
                    </a>
                    <div class="media-body">
                        <h3 class="title-medium-dark size-md mb-none">
                            <a href="single-news-1.html">स्त्री वेल्फेयर संस्था द्वारा महिलाओं को किया गया कैंसर के प्रति जागरूक</a>
                        </h3>
                    </div>
                </div>
                <div class="media mba-30">
                    <a class="img-opacity-hover" href="single-news-2.html">
                        <img src="~/Content/img/news/news25.jpg" alt="news" class="img-fluid1">
                    </a>
                    <div class="media-body">
                        <h3 class="title-medium-dark size-md mb-none">
                            <a href="single-news-2.html">स्त्री वेल्फेयर संस्था द्वारा महिलाओं को किया गया कैंसर के प्रति जागरूक</a>
                        </h3>
                    </div>
                </div>
                <div class="media mba-30">
                    <a class="img-opacity-hover" href="single-news-3.html">
                        <img src="~/Content/img/news/news26.jpg" alt="news" class="img-fluid1">
                    </a>
                    <div class="media-body">
                        <h3 class="title-medium-dark size-md mb-none">
                            <a href="single-news-3.html">स्त्री वेल्फेयर संस्था द्वारा महिलाओं को किया गया कैंसर के प्रति जागरूक</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="topic-border color-web-orange mb-30 width-100">
                    <div class="topic-box-lg color-web-orange">मनोरंजन</div>
                </div>
                <div class="media mba-30">
                    <a class="img-opacity-hover" href="single-news-1.html">
                        <img src="~/Content/img/news/news28.jpg" alt="news" class="img-fluid1">
                    </a>
                    <div class="media-body">
                        <h3 class="title-medium-dark size-md mb-none">
                            <a href="single-news-1.html">स्त्री वेल्फेयर संस्था द्वारा महिलाओं को किया गया कैंसर के प्रति जागरूक</a>
                        </h3>
                    </div>
                </div>
                <div class="media mba-30">
                    <a class="img-opacity-hover" href="single-news-2.html">
                        <img src="~/Content/img/news/news29.jpg" alt="news" class="img-fluid1">
                    </a>
                    <div class="media-body">
                        <h3 class="title-medium-dark size-md mb-none">
                            <a href="single-news-2.html">स्त्री वेल्फेयर संस्था द्वारा महिलाओं को किया गया कैंसर के प्रति जागरूक</a>
                        </h3>
                    </div>
                </div>
                <div class="media mba-10">
                    <a class="img-opacity-hover" href="single-news-3.html">
                        <img src="~/Content/img/news/news30.jpg" alt="news" class="img-fluid1">
                    </a>
                    <div class="media-body">
                        <h3 class="title-medium-dark size-md mb-none">
                            <a href="single-news-3.html">स्त्री वेल्फेयर संस्था द्वारा महिलाओं को किया गया कैंसर के प्रति जागरूक</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="ne-banner-layout1 mb-50 mt-20-r text-center">
                    <a href="#">
                        <img src="~/Content/img/banner/banner2.jpg" alt="ad" class="img-fluid1">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest News Area End Here -->
<!-- Top Story Area Start Here -->
<section class="bg-body section-space-default">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="mb-20-r ne-isotope">
                    <div class="topic-border color-cinnabar mb-30">
                        <div class="topic-box-lg color-cinnabar">राजनीति</div>
                        <div class="more-info-link">
                            <a href="post-style-1.html">
                                More
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="mb-25">
                                <a class="img-opacity-hover" href="single-news-1.html">
                                    <img src="~/Content/img/news/news109.jpg" alt="news" class="img-fluid width-100 mb-15">
                                </a>
                                <h3 class="title-medium-dark size-s" style="font-size:13px">
                                    <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर</a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="mb-25">
                                <a class="img-opacity-hover" href="single-news-1.html">
                                    <img src="~/Content/img/news/news110.jpg" alt="news" class="img-fluid width-100 mb-15">
                                </a>
                                <h3 class="title-medium-dark size-lg" style="font-size:13px">
                                    <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="mb-20-r ne-isotope">
                    <div class="topic-border color-cinnabar mb-30">
                        <div class="topic-box-lg color-cinnabar">नौकरी</div>
                        <div class="more-info-link">
                            <a href="post-style-1.html">
                                More
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="mb-25">
                                <a class="img-opacity-hover" href="single-news-1.html">
                                    <img src="~/Content/img/news/news109.jpg" alt="news" class="img-fluid width-100 mb-15">
                                </a>
                                <h3 class="title-medium-dark size-s" style="font-size:13px">
                                    <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर</a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="mb-25">
                                <a class="img-opacity-hover" href="single-news-1.html">
                                    <img src="~/Content/img/news/news110.jpg" alt="news" class="img-fluid width-100 mb-15">
                                </a>
                                <h3 class="title-medium-dark size-lg" style="font-size:13px">
                                    <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Top Story Area End Here -->
<section class="bg-body section-space-less30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="topic-border color-hollywood-cerise mb-30">
                    <div class="topic-box-lg color-hollywood-cerise">खेल</div>
                    <div class="more-info-link">
                        <a href="post-style-1.html">
                            सभी खबरें
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="mb-25">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news109.jpg" alt="news" class="img-fluid width-100 mb-15">
                            </a>
                            <h3 class="title-medium-dark size-s" style="font-size:13px">
                                <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="mb-25">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news110.jpg" alt="news" class="img-fluid width-100 mb-15">
                            </a>
                            <h3 class="title-medium-dark size-lg" style="font-size:13px">
                                <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="mb-25">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news111.jpg" alt="news" class="img-fluid width-100 mb-15">
                            </a>
                            <h3 class="title-medium-dark size-lg" style="font-size:13px">
                                <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर.</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="mb-25">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news112.jpg" alt="news" class="img-fluid width-100 mb-15">
                            </a>
                            <h3 class="title-medium-dark size-lg" style="font-size:13px">
                                <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर.</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="mb-25">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news113.jpg" alt="news" class="img-fluid width-100 mb-15">
                            </a>
                            <h3 class="title-medium-dark size-lg" style="font-size:13px">
                                <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर.</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="mb-25">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news114.jpg" alt="news" class="img-fluid width-100 mb-15">
                            </a>
                            <h3 class="title-medium-dark size-lg" style="font-size:13px">
                                <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर.</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="mb-25">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news115.jpg" alt="news" class="img-fluid width-100 mb-15">
                            </a>
                            <h3 class="title-medium-dark size-lg" style="font-size:13px">
                                <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="mb-25">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news116.jpg" alt="news" class="img-fluid width-100 mb-15">
                            </a>
                            <h3 class="title-medium-dark size-lg" style="font-size:13px">
                                <a href="single-news-1.html">ए पी सेन कॉलेज युवाओं को बनाएगा आत्मनिर्भर</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


