
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Post Style 3 Page Area Start Here -->
<section class="bg-body section-space-less30">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="position-relative mb-50-r">
                    <a class="img-opacity-hover" href="single-news-1.html">
                        <img src="~/Content/img/news/news154.jpg" alt="news" class="img-fluid width-100 mb-30">
                    </a>
                    <div class="post-date-dark">
                        <ul>
                            <li>
                                <span>by</span>
                                <a href="single-news-1.html">Adams</a>
                            </li>
                            <li>
                                <span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>March 22, 2017
                            </li>
                        </ul>
                    </div>
                    <h3 class="title-medium-dark size-c26">
                        <a href="single-news-1.html">John Baldessari on designing the newest BMW art car simply dummy and type industry.</a>
                    </h3>
                    <p>
                        लखनऊ, उजाला सिटी।ए पी सेन महाविद्यालय के सांस्कृतिक क्लब द्वारा छात्राओं के सर्वागीण विकास के लिए सतत प्रयत्नशील महाविद्यालय छात्राओं में सांस्कृतिक परंपराओं का ज्ञान प्राप्त करने का सिलसिला शुरु कर है ।संगीत व्यक्ति को न केवल मनोरंजन प्रदान करती है बल्कि उसे मानसिक सुकून प्रदान करती है ।विभिन्न वादन यंत्रों की गूंज तथा गानों की विभिन्न शैलियाँ आनन्द से मद मस्त करने के साथ व्यावसायिक ज्ञान में भी सहायता करती है ।महाविद्यालय की छात्राएँ विभिन्न वाद्ययंत्रों ,गायन और नृत्य को सीखकर निश्चित ही अपने पैरो पर खड़ी होकर सशक्त समाज का निर्माण करेंगी, ऐसा महाविद्यालय का मंतव्य है।आज से प्रारम्भ छः दिवसीय कार्यशाला में ढोलक ,हारमोनियम एवं कजरी सिखाई जाएगी।इस प्रशिक्षण कार्यक्रम का दायित्व भातखण्डे संगीत विश्वविद्यालय के सार्थक एवं अंशिका मौर्या को दिया गया है।कार्यक्रम समन्वयक डॉ ऋचा मुक्ता ,डॉ कीर्ति गौड़ के निर्देशन में इस कार्यशाला का क्रियान्वयन किया जाएगा।इस अवसर पर प्राचार्या प्रो रचना श्रीवास्तव ने प्रशंसा व्यक्त करते हुए छात्राओं के उज्ज्वल भविष्य की कामना की है ।इस अवसर पर लगभग 60 छात्राओं ने भाग लिया।इस कार्यशाला में न केवल महाविद्यालय अपितु आसपास के लोग भी प्रतिभागिता कर रहे है।इस अवसर पर प्रो निधि सिद्धार्थ,प्रो मोनिका ,प्रो श्वेता ,प्रो माधुरी ,प्रो उषा डॉ मोनिका ,श्रीमति कंचन आदि उपस्थित रहे।
                    </p>
                </div>
            </div>
            <div class="ne-sidebar sidebar-break-md col-lg-4 col-md-12">
                <div class="sidebar-box">
                    <div class="position-relative mb30-list bg-body">
                        
                        <div class="media">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news-117.jpg" alt="news" class="img-fluid">
                            </a>
                            <div class="media-body" style="padding-left:35px;">
                                <div class="post-date-dark">
                                    <ul>
                                        <li>
                                            <span>
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>February 10, 2017
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="title-medium-dark mb-none">
                                    <a href="single-news-2.html">Can Be Monit roade year with Program.</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative mb30-list bg-body">
                         <div class="media">
                            <a class="img-opacity-hover" href="single-news-2.html">
                                <img src="~/Content/img/news/news118.jpg" alt="news" class="img-fluid">
                            </a>
                            <div class="media-body" style="padding-left:35px;">
                                <div class="post-date-dark">
                                    <ul>
                                        <li>
                                            <span>
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>June 06, 2017
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="title-medium-dark mb-none">
                                    <a href="single-news-3.html">Can Be Monit roade year with Program.</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative mb30-list bg-body">
                         <div class="media">
                            <a class="img-opacity-hover" href="single-news-3.html">
                                <img src="~/Content/img/news/news119.jpg" alt="news" class="img-fluid">
                            </a>
                            <div class="media-body" style="padding-left:35px;">
                                <div class="post-date-dark">
                                    <ul>
                                        <li>
                                            <span>
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>August 22, 2017
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="title-medium-dark mb-none">
                                    <a href="single-news-1.html">Can Be Monit roade year with Program.</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative mb30-list bg-body">
                         <div class="media">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news120.jpg" alt="news" class="img-fluid">
                            </a>
                            <div class="media-body" style="padding-left:35px;">
                                <div class="post-date-dark">
                                    <ul>
                                        <li>
                                            <span>
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>February 10, 2017
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="title-medium-dark mb-none">
                                    <a href="single-news-2.html">Can Be Monit roade year with Program.</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative mb30-list bg-body">
                        <div class="media">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news121.jpg" alt="news" class="img-fluid">
                            </a>
                            <div class="media-body" style="padding-left:35px;">
                                <div class="post-date-dark">
                                    <ul>
                                        <li>
                                            <span>
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>February 10, 2017
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="title-medium-dark mb-none">
                                    <a href="single-news-2.html">Can Be Monit roade year with Program.</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Post Style 3 Page Area End Here -->
