@model IEnumerable<UjalaCityNews1.Models.NewsPosts>

@{
    ViewBag.Title = "Politics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bg-accent section-space-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="ne-isotope">

                    <div class="row tab-space1 mb-25">
                        <div class="col-12">
                            <div class="topic-border color-apple mb-30 width-100">
                                <div class="topic-box-lg color-apple">राजनीति</div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="img-overlay-70 img-scale-animate mb-2">
                                <img src="@ImagePath" alt="news" class="img-fluid width-100">
                            </div>
                            <div class="box-padding30 bg-body item-shadow-gray">
                                <div class="post-date-dark">
                                    <ul>
                                        <li>
                                            <span>
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>@post.Date?.ToString("MMMM d, yyyy")
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="title-medium-dark">
                                    <a href="#">@post.EnglishTitle</a>
                                </h3>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
