
@{
    ViewBag.Title = "Videos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Video Area Start Here -->
<section class="bg-accent section-space-less4">
    <div class="container">
        <div class="row tab-space2">
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="img-overlay-70">
                    <div class="text-center">
                        <a class="play-btn popup-youtube" href="http://www.youtube.com/watch?v=1iIZeIy7TqM">
                            <img src="~/Content/img/banner/play.png" alt="play" class="img-fluid">
                        </a>
                    </div>
                    <img src="~/Content/img/news/news16.jpg" alt="news" class="img-fluid width-100">
                </div>
            </div>
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="img-overlay-70">
                    <div class="text-center">
                        <a class="play-btn popup-youtube" href="http://www.youtube.com/watch?v=1iIZeIy7TqM">
                            <img src="~/Content/img/banner/play.png" alt="play" class="img-fluid">
                        </a>
                    </div>
                    <img src="~/Content/img/news/news17.jpg" alt="news" class="img-fluid width-100">
                </div>
            </div>
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="img-overlay-70">
                    <div class="text-center">
                        <a class="play-btn popup-youtube" href="http://www.youtube.com/watch?v=1iIZeIy7TqM">
                            <img src="~/Content/img/banner/play.png" alt="play" class="img-fluid">
                        </a>
                    </div>
                    <img src="~/Content/img/news/news18.jpg" alt="news" class="img-fluid width-100">
                </div>
            </div>
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="img-overlay-70">
                    <div class="text-center">
                        <a class="play-btn popup-youtube" href="http://www.youtube.com/watch?v=1iIZeIy7TqM">
                            <img src="~/Content/img/banner/play.png" alt="play" class="img-fluid">
                        </a>
                    </div>
                    <img src="~/Content/img/news/news18.jpg" alt="news" class="img-fluid width-100">
                </div>
            </div>
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="img-overlay-70">
                    <div class="text-center">
                        <a class="play-btn popup-youtube" href="http://www.youtube.com/watch?v=1iIZeIy7TqM">
                            <img src="~/Content/img/banner/play.png" alt="play" class="img-fluid">
                        </a>
                    </div>
                    <img src="~/Content/img/news/news18.jpg" alt="news" class="img-fluid width-100">
                </div>
            </div>
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="img-overlay-70">
                    <div class="text-center">
                        <a class="play-btn popup-youtube" href="http://www.youtube.com/watch?v=1iIZeIy7TqM">
                            <img src="~/Content/img/banner/play.png" alt="play" class="img-fluid">
                        </a>
                    </div>
                    <img src="~/Content/img/news/news18.jpg" alt="news" class="img-fluid width-100">
                </div>
            </div>
        </div>
    </div>
</section>

