<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Admin/img/favicon.png">
    <link rel="stylesheet" href="~/Content/Admin/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Admin/css/animate.css">
    <link rel="stylesheet" href="~/Content/Admin/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/Content/Admin/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/Admin/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/Content/Admin/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/Content/Admin/css/style.css">
</head>
<body>

    <div class="main-wrapper">

        <div class="header">

            <div class="header-left active">
                <a href="index.html" class="logo logo-normal">
                    <img src="~/Content/Admin/img/logo007.png" alt="">
                </a>
                <a href="index.html" class="logo logo-white">
                    <img src="~/Content/Admin/img/logo-white.png" alt="">
                </a>
                <a href="index.html" class="logo-small">
                    <img src="~/Content/Admin/img/logo-small.png" alt="">
                </a>
                <a id="toggle_btn" style="display:none" href="javascript:void(0);">
                </a>
            </div>

            <a id="mobile_btn" class="mobile_btn" href="#sidebar">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>

            <ul class="nav user-menu">

                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img src="~/Content/Admin/img/profiles/mam001.png" alt="">
                            <span class="status online"></span>
                        </span>
                    </a>
                    <div class="dropdown-menu menu-drop-user">
                        <div class="profilename">
                            <div class="profileset">
                                <span class="user-img">
                                    <img src="~/Content/Admin/img/profiles/mam001.png" alt="">
                                    <span class="status online"></span>
                                </span>
                                <div class="profilesets">
                                    <h6>Manju Devi</h6>
                                    <h5>Admin</h5>
                                </div>
                            </div>
                            <hr class="m-0">
                           <hr class="m-0">
                            <a class="dropdown-item logout pb-0" href="/Account/Logout"><img src="~/Content/Admin/img/icons/log-out.svg" class="me-2" alt="img">Logout</a>
                        </div>  
                    </div>
                </li>
            </ul>


            <div class="dropdown mobile-user-menu">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="/Account/Logout">Logout</a>
                </div>
            </div>

        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="submenu">
                            <a href="javascript:void(0);"><i data-feather="alert-octagon"></i> <span> News</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="/Admin/AddNews">Add</a></li>
                                <li><a href="/Admin/Index">List</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);"><i data-feather="layout"></i> <span> Category </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="/Admin/AddCategories">Add</a></li>
                                <li><a href="/Admin/CategoriesList">List</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);"><i data-feather="layers"></i> <span> Slider</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="/Admin/AddHomeSlider">Add</a></li>
                                <li><a href="/Admin/SliderList">List</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/Admin/ContactShow"><i data-feather="file"></i><span> Contact Show</span> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="page-wrapper">
            <div class="content">
                <div>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/Admin/js/jquery-3.6.0.min.js"></script>
    <script src="~/Content/Admin/js/feather.min.js"></script>
    <script src="~/Content/Admin/js/jquery.slimscroll.min.js"></script>
    <script src="~/Content/Admin/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Admin/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/Admin/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Admin/plugins/select2/js/select2.min.js"></script>
    <script src="~/Content/Admin/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/Content/Admin/plugins/sweetalert/sweetalerts.min.js"></script>
    <script src="~/Content/Admin/js/script.js"></script>
    <script src="~/Content/js/CustomScript.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
