<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Ujala City News</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/favicon.png">
    <link href="~/Content/CSS/normalize.css" rel="stylesheet" />
    <link href="~/Content/CSS/main.css" rel="stylesheet" />
    <link href="~/Content/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/animate.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/OwlCarousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/OwlCarousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/meanmenu.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/CSS/hover-min.css" rel="stylesheet" />
    <link href="~/Content/CSS/style.css" rel="stylesheet" />
    <link href="~/Content/CSS/ie-only.css" rel="stylesheet" />
    <link href="~/Content/vendor/slider/css/nivo-slider.css" rel="stylesheet" />
    <link href="~/Content/vendor/slider/css/preview.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div id="header-layout2" class="header-style2">
            <div class="header-top-bar">
                <div class="top-bar-top bg-accent border-bottom">
                    <div class="container" style="max-width: 1250px;">
                        <div class="row">
                            <div class="col-lg-8 col-md-12">
                                <ul class="news-info-list text-center--md">
                                    <li>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>Lucknow
                                    </li>
                                    <li>
                                        <i class="fa fa-calendar" aria-hidden="true"></i><span id="current_date"></span>
                                    </li>
                                    <li>
                                        <i class="fa fa-cloud" aria-hidden="true"></i>29&#8451; Lucknow Uttar Pradesh
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-4 d-none d-lg-block">
                                <ul class="header-social">
                                    <li>
                                        <a href="#" title="facebook">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="twitter">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="linkedin">
                                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Home/Login" title="rss">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top-bar-bottom bg-body pt-20 d-none d-lg-block">
                    <div class="container" style="max-width: 1300px;">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="logo-area">
                                    <a href="/Home/Index" class="img-fluid">
                                        <img src="~/Content/img/logo008.png" alt="logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="ne-banner-layout1 pull-right">
                                    <a href="#">
                                        <img src="~/Content/img/banner/banner2.jpg" alt="ad" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-menu-area bg-body" id="sticker">
                <div class="container" style="max-width: 1250px;">
                    <div class="row no-gutters d-flex align-items-center">
                        <div class="col-lg-12 position-static d-none d-lg-block">
                            <div class="ne-main-menu">
                                <nav id="dropdown">
                                    <ul>
                                        <li>
                                            <a href="/Home/Index">होम</a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                राज्य और शहर
                                                <i class="fa fa-angle-double-down" aria-hidden="true" style="font-size:20px"></i>
                                            </a>
                                            <ul class="ne-dropdown-menu">
                                                <li>
                                                    <a href="#">महाराष्ट्र</a>
                                                </li>
                                                <li>
                                                    <a href="#">महाराष्ट्र</a>
                                                </li>
                                                <li>
                                                    <a href="#">महाराष्ट्र</a>
                                                </li>
                                                <li>
                                                    <a href="#">महाराष्ट्र</a>
                                                </li>
                                                <li>
                                                    <a href="#">महाराष्ट्र</a>
                                                </li>
                                                <li>
                                                    <a href="#">महाराष्ट्र</a>
                                                </li>
                                                <li>
                                                    <a href="#">महाराष्ट्र</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/Home/Category/राजनीति">राजनीति</a>
                                        </li>
                                        <li>
                                            <a href="/Home/Category/आध्यात्म">आध्यात्म</a>
                                        </li>
                                        <li>
                                            <a href="/Home/Category/Sports">खेल</a>
                                        </li>
                                        <li>
                                            <a href="/Home/Category/लाइफस्टाइल">लाइफस्टाइल</a>
                                        </li>
                                        <li>
                                            <a href="/Home/Category/मनोरंजन">मनोरंजन</a>
                                        </li>
                                        <li>
                                            <a href="/Home/Category/Crime">क्राइम</a>
                                        </li>
                                        <li>
                                            <a href="/Home/Category/टेक्नोलॉजी">टेक्नोलॉजी</a>
                                        </li>
                                        <li>
                                            <a href="/Home/Category/देश-विदेश">देश-विदेश</a>
                                        </li>
                                        <li>
                                            <a href="/Home/Category/नौकरी">नौकरी</a>
                                        </li>
                                        <li>
                                            <a href="/Home/EPaper">ई पेपर</a>
                                        </li>
                                        <li>
                                            <a href="/Home/ApniKalamSe">अपनी कलम से</a>
                                        </li>
                                        <li>
                                            <a href="/Home/Videos">वीडियो</a>
                                        </li>
                                        <li>
                                            <a href="/Home/Contact">संपर्क करें</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        @*<div class="col-lg-2 col-md-12 text-right position-static">
                                <div class="header-action-item on-mobile-fixed">
                                    <ul>
                                        <li>
                                            <form id="top-search-form" class="header-search-light">
                                                <input type="text" class="search-input" placeholder="Search...." required="" style="display: none;">
                                                <button class="search-button">
                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                </button>
                                            </form>
                                        </li>
                                        <li class="d-none d-sm-block d-md-block d-lg-none">
                                            <button type="button" class="login-btn" data-toggle="modal" data-target="#myModal">
                                                <i class="fa fa-user" aria-hidden="true"></i>Sign in
                                            </button>
                                        </li>
                                        <li>
                                            <div id="side-menu-trigger" class="offcanvas-menu-btn offcanvas-btn-repoint">
                                                <a href="#" class="menu-bar">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </a>
                                                <a href="#" class="menu-times close">
                                                    <span></span>
                                                    <span></span>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
        <!-- News Feed Area Start Here -->
        <section class="container" style="max-width: 1250px;">
            <div class="bg-body-color ml-15 pr-15 mb-10 mt-10">
                <div class="row no-gutters d-flex align-items-center">
                    <div class="col-lg-2 col-md-3 col-sm-4 col-5">
                        <div class="topic-box">ट्रेंडिंग न्यूज़</div>
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-8 col-7">
                        <div class="feeding-text-light2">
                            <ol id="sample" class="ticker">
                                <li>
                                    <a href="#">
                                        Delhi Yamuna Water Level: यमुना के जलस्तर ने खतरे के निशान को किया पार, बाढ़ के मुहाने पर राष्ट्रीय राजधानी
                                    </a>
                                </li>
                                <li>
                                    <a href="#">हिंसा के बीच मतदान, कहीं फूंकी गई मतपेटी तो कहीं बैलट बॉक्स में डाला पानी</a>
                                </li>
                                <li>
                                    <a href="#">PM ने योजनाओं का लोकार्पण किया, बोले- एक्स्प्रेस-वे के मामले में राजस्थान ने डबल सेंचुरी मार दी</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer1>
        <div class="footer-area-bottom" style="background-color:#444">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <a href="index.html" class="footer-logo img-fluid">
                            <img src="~/Content/img/logo007.png" alt="logo" class="img-fluid" style="padding-top:10px">
                        </a>
                        <p style="color: #b9b9b9; padding-top:10px">© 2023 Ujala City News Designed by Incroyable Industries All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer1>
    <!-- Footer Area End Here -->
    <!-- Modal Start-->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="title-login-form">Login</div>
                </div>
                <div class="modal-body">
                    <div class="login-form">
                        <form>
                            <label>Username or email address *</label>
                            <input type="text" placeholder="Name or E-mail" />
                            <label>Password *</label>
                            <input type="password" placeholder="Password" />
                            <div class="checkbox checkbox-primary">
                                <input id="checkbox" type="checkbox" checked>
                                <label for="checkbox">Remember Me</label>
                            </div>
                            <button type="submit" value="Login">Login</button>
                            <button class="form-cancel" type="submit" value="">Cancel</button>
                            <label class="lost-password">
                                <a href="#">Lost your password?</a>
                            </label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End-->
    <!-- Offcanvas Menu Start -->
    <div id="offcanvas-body-wrapper" class="offcanvas-body-wrapper">
        <div id="offcanvas-nav-close" class="offcanvas-nav-close offcanvas-menu-btn">
            <a href="#" class="menu-times re-point">
                <span></span>
                <span></span>
            </a>
        </div>
        <div class="offcanvas-main-body">
            <ul id="accordion" class="offcanvas-nav panel-group">
                <li class="panel panel-default">
                    <div class="panel-heading">
                        <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <i class="fa fa-home" aria-hidden="true"></i>Home Pages
                        </a>
                    </div>
                    <div aria-expanded="false" id="collapseOne" role="tabpanel" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="offcanvas-sub-nav">
                                <li>
                                    <a href="index.html">Home 1</a>
                                </li>
                                <li>
                                    <a href="index2.html">Home 2</a>
                                </li>
                                <li>
                                    <a href="index3.html">Home 3</a>
                                </li>
                                <li>
                                    <a href="index4.html">Home 4</a>
                                </li>
                                <li>
                                    <a href="index5.html">Home 5</a>
                                </li>
                                <li>
                                    <a href="index6.html">Home 6</a>
                                </li>
                                <li>
                                    <a href="index7.html">Home 7</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="author-post.html">
                        <i class="fa fa-user" aria-hidden="true"></i>Author Post Page
                    </a>
                </li>
                <li class="panel panel-default">
                    <div class="panel-heading">
                        <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            <i class="fa fa-file-text" aria-hidden="true"></i>Post Pages
                        </a>
                    </div>
                    <div aria-expanded="false" id="collapseTwo" role="tabpanel" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="offcanvas-sub-nav">
                                <li>
                                    <a href="post-style-1.html">Post Style 1</a>
                                </li>
                                <li>
                                    <a href="post-style-2.html">Post Style 2</a>
                                </li>
                                <li>
                                    <a href="post-style-3.html">Post Style 3</a>
                                </li>
                                <li>
                                    <a href="post-style-4.html">Post Style 4</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="panel panel-default">
                    <div class="panel-heading">
                        <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>News Details Pages
                        </a>
                    </div>
                    <div aria-expanded="false" id="collapseThree" role="tabpanel" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="offcanvas-sub-nav">
                                <li>
                                    <a href="single-news-1.html">News Details 1</a>
                                </li>
                                <li>
                                    <a href="single-news-2.html">News Details 2</a>
                                </li>
                                <li>
                                    <a href="single-news-3.html">News Details 3</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="archive.html">
                        <i class="fa fa-archive" aria-hidden="true"></i>Archive Page
                    </a>
                </li>
                <li class="panel panel-default">
                    <div class="panel-heading">
                        <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>Gallery Pages
                        </a>
                    </div>
                    <div aria-expanded="false" id="collapseFour" role="tabpanel" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="offcanvas-sub-nav">
                                <li>
                                    <a href="gallery-style-1.html">Gallery Style 1</a>
                                </li>
                                <li>
                                    <a href="gallery-style-2.html">Gallery Style 2</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="404.html">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>404 Error Page
                    </a>
                </li>
                <li>
                    <a href="contact.html">
                        <i class="fa fa-phone" aria-hidden="true"></i>Contact Page
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Offcanvas Menu End -->
    @RenderSection("scripts", required: false)
    <script src="~/Content/js/modernizr-2.8.3.min.js"></script>
    <script src="~/Content/js/jquery-2.2.4.min.js"></script>
    <script src="~/Content/js/plugins.js"></script>
    <script src="~/Content/js/popper.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/wow.min.js"></script>
    <script src="~/Content/vendor/OwlCarousel/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.meanmenu.min.js"></script>
    <script src="~/Content/js/jquery.scrollUp.min.js"></script>
    <script src="~/Content/js/jquery.counterup.min.js"></script>
    <script src="~/Content/js/waypoints.min.js"></script>
    <script src="~/Content/js/isotope.pkgd.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/ticker.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/js/CustomScript.js"></script>
    <script src="~/Content/vendor/slider/js/jquery.nivo.slider.js"></script>
    <script src="~/Content/vendor/slider/home.js"></script>
</body>
</html>
